.DS_Store
.vscode
__pycache__
*.pth
*.safetensors
*.out

Data/Problems/Backward_Facing_Step_domain
Data/Problems/Flow_Past_Cylinder_domain
Data/Problems/Lid_Driven_domain
Data/Problems/*.json

pretrained/sd-vae-ft-mse
Data/Problems.zip

renderings/renders/*
